*.pdf
rodImpl/
ulnTest/
ulnTest2/
testPins/
testBlendPins/
test/ 
ArduinoControlFirmata*/ 
BLEAndroid/ 
BLEControllerSketchDeanMod/ 
blepdroid/
ArduinoControlCodeBLE/
Android/*
Android/ 
*.zip 
ArduinoControlBasic/
old_stuff/ 
*.DS_Store
